<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet facilis
    numquam velit ex consequuntur animi minus non, debitis repellendus
    exercitationem!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--accent quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quort__author">Jhone Lumeo</h3>
        <p class="quort__organization">Mosh Company ceo</p>
      </div>
    </div>
  </footer>
</blockquote>
